
.mc-data-table-container {

    border: 1px solid #dddddd;

    position: relative;

    > .mc-data-table-content-container {
        border-right: 0.05rem solid #dddddd;
    }

}

.mc-data-table {

}

