.mc-data-table-container {

    position: relative;

}

.mc-data-table-content-header {
    overflow: scroll;
    overflow-x: hidden;

}

.mc-data-table {

    border-collapse: collapse;
    border-left: 0;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
    table-layout: fixed;

    thead {
        border: 0;

        > tr {
            cursor: pointer;
            height: 32px; // TODO:
            text-align: left;

            > th {
                border-bottom: 1px solid #ccc;
                border-top: 0;
                padding-left: 8px;
                position: relative;
                word-break: break-all;

                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }

                &:hover {
                    background: #d9d9d9;
                }
            }



            .mc-data-table-column-header {
                span {
                    &:first-child  {
                        display: inline-block;
                        word-break: break-word;
                    }
                }
            }
        }
    }

    tbody {

        > tr {
            cursor: default;
            height: 32px;

            > td {
                word-break: break-word;
                padding-left: 8px;

                &:last-child {
                    border-right: 0;
                }
            }

            &:hover {
                td {
                    background: #F0F0F0;
                }
            }

            &.selected {
                td {
                    background: #d8eaf6;
                }
            }

            &.disabled {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }
}

