<mc-data-table
    [items]="data"
    [mcVirtualItemSize]="32"
    [selectOnRowClick]="true"
    [rowSelectable]="true"
    [mcScroll]="{ x:'900px',y: '240px' }"
    (rowClick)="onRowClick($event)"
    (headerClick)="onHeaderClick($event)"

    style="padding: 18px;"
   >
    <mc-data-table-column
        [field]="'time'"
        [title]="'Time'"
        [sortable]="true">
    </mc-data-table-column>

    <mc-data-table-column
        [field]="'eventType'"
        [title]="'Event Type'"
        [sortable]="true"
        [sortOrder]="'asc'"
        [resizable]="true"
    >
    </mc-data-table-column>

    <mc-data-table-column
        [field]="'userCount'"
        [title]="'User Count'"
        [sortable]="true">
        <ng-template #mcDataTableCell let-row="row">
            <td>
                <span style="color: red;">{{ row.item.userCount }}</span>
            </td>
        </ng-template>
    </mc-data-table-column>
</mc-data-table>
