<mc-data-table
    [items]="data"
    [mcVirtualItemSize]="32"
    [selectOnRowClick]="true"
    [rowSelectable]="true"
    [mcScroll]="{ x:'1300px',y: '240px' }"
    (rowClick)="onRowClick($event)"

    style="padding: 18px;"
   >
    <mc-data-table-column
        [field]="'time'"
        [title]="'Time'">
    </mc-data-table-column>

    <mc-data-table-column
        [field]="'eventType'"
        [title]="'Event Type'">
    </mc-data-table-column>

    <mc-data-table-column
        [field]="'userCount'"
        [title]="'User Count'">
        <ng-template #mcDataTableCell let-row="row">
            <td>
                <span style="color: red;">{{ row.item.userCount }}</span>
            </td>
        </ng-template>
    </mc-data-table-column>
</mc-data-table>
